body{
    background-color: rgb(250,250,250);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width:310px;
    margin-top: 50px;
}

.heading{
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 0;
}

.helpline{
    color: darkblue;
    margin: 8% 8% 2%;
}
@media (max-width:770px){

    .container{
        margin: 0;
    }
    .image{
        width: 70%;
        margin-top: 20px;
    }

}